streamlit
langchain-community
langchain-google-genai
langchain-text-splitters
langchain-core
langchain
faiss-cpu
pypdf
tiktoken
python-dotenv
sentence-transformers
huggingface-hub
google-generativeai
rank_bm25             # For Hybrid Search (Keywords)
flashrank             # For Reranking (Lightweight Cross-Encoder)
duckduckgo-search     # For Web Search Tool
